/* some style */

.hello-world {
  color: red;
}


table tbody td {
  padding: 2px;
  border-top: 1px solid black;
}


/* slideshow stuff */
.com-rigsomelight-devcards-slideshow-btns-container {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 200px;
  z-index: 10;
}

a.com-rigsomelight-devcards-slideshow-btn,
a.com-rigsomelight-devcards-slideshow-btn:active,
a.com-rigsomelight-devcards-slideshow-btn:visited,
a.com-rigsomelight-devcards-slideshow-btn:hover {
  padding: 2px;
  text-decoration: none;
  color: #428bca;
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline;
}

.com-rigsomelight-devcards-slideshow
.com-rigsomelight-devcard:not(.com-rigsomelight-devcard-slideshow-active) {
  /* zoom: 0.8; */
}
.com-rigsomelight-devcards-slideshow
.com-rigsomelight-devcard:not(.com-rigsomelight-devcard-slideshow-active) {
  position: relative;
}

.com-rigsomelight-devcards-slideshow
.com-rigsomelight-devcard:not(.com-rigsomelight-devcard-slideshow-active):before {
  content: '';
  background: rgba(255,255,255,0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow:hidden;
}

.com-rigsomelight-devcards-slideshow
  .com-rigsomelight-devcard.com-rigsomelight-devcard-slideshow-active {
  zoom: 1.3;
  border: 1px solid #888;
  -webkit-box-shadow: 0px 0px 46px 14px rgba(187,187,187,1);
  -moz-box-shadow: 0px 0px 46px 14px rgba(187,187,187,1);
  box-shadow: 0px 0px 46px 14px rgba(187,187,187,1);
  margin: 2em 0;
}


.hello-denverscript {
  // figwheel-demo
  color: black;
}
